name: CI

on: [push]

jobs:
  test:
    name: Test on node ${{ matrix.node_version }} and ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node_version: [10, 12, 13]
        os: [ubuntu-latest, macOS-latest]

    steps:
    - uses: actions/checkout@v1

    - name: Use Node.js ${{ matrix.node_version }}
      uses: actions/setup-node@v1
      with:
        node_version: ${{ matrix.node_version }}

    - name: npm install and test
      run: |
        npm run clean
        npm run test

  docker:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1

    - name: build image
      run: |
        docker build .

  deploy:
    needs: [test, docker]

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: 12

      - name: publish release npm package
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}
        run: npm publish
        if: contains( github.ref, 'master' ) || contains( github.base_ref, 'master' )

      - name: publish release docker image
        uses: docker/build-push-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: toolisticon/ssl-hostinfo-prometheus-exporter
          tags: latest
        if: contains( github.ref, 'master' ) || contains( github.base_ref, 'master' )

      - name: publish preview npm package
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}
        run: npm publish --tag next
        if: contains( github.ref, 'develop' ) || contains( github.base_ref, 'develop' )

      - name: publish preview docker image
        uses: docker/build-push-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: toolisticon/ssl-hostinfo-prometheus-exporter
          tags: next
        if: contains( github.ref, 'develop' ) || contains( github.base_ref, 'develop' )
